
.about-image{
    position: relative;
    bottom: 20%;
    height: 70vh;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
    background-image: url(https://dvh1deh6tagwk.cloudfront.net/finder-au/wp-uploads/2020/10/mackay_getty_1536x864.jpg);
}
.about-contents{
   margin: 10px;
   display: flex;
   gap: 2rem;
   
}

.about-content{
    box-sizing: border-box;
    width: 600px;
    height: 400px;
    font-size: large;
    background-color:transparent;
    color: white;
    position: relative;
    top: -100%;
    padding: 10px;
    
    /* border: 1px solid white; */
    
}

.about-content .contact-button{
    width: 200px;
    height: 30px;
    text-align: center;
    background-color:#ff761a;
    font-size: 150%;
    border-radius: 3px;
    position: relative;
    right: 32%;
}

.about-content img{
    position: relative;
    right: -100px;
}

.about-content p{
    text-align: justify;
    font-size: 100%;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block{
    position: relative;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 200px;
    background-color: #ff761a;
}

.block .block-img{
    width: 150px;
    height: 300px;
}

.block-img img{
    border-radius: 3px;
}

.quotes{
    display: flex;
    gap: -50px;
    position: relative;
    top:100px;
    background-color: black;
}

.quotes .quote{
    width: 500px;
    height: 200px;
    font-size:120%;
    text-align: justify;
    /* line-height:10%; */
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #ff761a; */
}

.dummy{
    height: 30vh;
    width: 100%;
    background-color: black;
}
